@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"');



section{
    font-family: "Inter", sans-serif;
    padding-inline: 8rem;
    background-color: var(--senary-color);
    padding-block: 3rem;
    font-size: 1.5rem;
    padding-bottom: 4rem;
      
}
section .paragraph{
    padding-left: 5rem;
}

section .title{
    display: flex;
    align-items:first baseline;
    font-size:2.5rem;
}

.logoTitle{
    font-family: "Jersey 25";
    font-size: 5rem;
}

@media only screen and (max-width: 850px) {
section {
    padding-inline: 2rem;
}
section .paragraph{ 
    padding-left: 0.5rem;
}
  
  }