.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 69vh;
  width: 100%vh;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  font-size: 8rem;
  font-family: var(--font-family);
  font-weight: 500;
  padding-top: 20px;
}


.container h6 {
  text-align: left;
  width: 100%;
  margin-top: 30px;
  padding-left: 100px;
}
