.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  color: white;
  font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  padding-top: 20px;
  margin-top: 150px;
  font-size: 10rem;
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
}

.container h6 {
  text-align: center;
  margin-top: 10px;
}

.text {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 200px;
}

/* Media Queries para responsividad */
@media (max-width: 1280px) {
  .container {
    font-size: 2rem;
    margin-top: 100px;
  }
  .text {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 2rem;
    margin-top: 20px;
  }
  .text {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .container {
    font-size: 4rem;
    margin-top: 220px;
    height: 60vh;
  }

  .text {
    font-size: 1.5rem;
    padding: 20px;

    margin-bottom: 20px;
  }
}
